<h1>New Post!</h1>
<form action="<%=posts_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>
    Title:
    <input type="text" name="post[title]">
    </label>
    <label>
    Url(optional):
    <input type="text" name="post[url]">
    </label>

    <label>
    Content(optional):
    <textarea name="post[content]"cols="30" rows="10"></textarea>
    </label>
    
    <%Sub.all.each do |sub|%>
        <label>
            <%=sub.title%> 
            <input type="checkbox" value="<%=sub.id%>" name="post[sub_ids][]">
        </label>
    <% end %>
    <button type="submit">Create!</button>
</form>