html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}
nav {
  display: inline-block;
}
 nav li {
    display: inline-block; 
 }
nav li a {
   display: block;
   padding: 20px;
}
 body {
   width: 900px;
   margin: 0 auto
 }
 section {
   width: 700px;
 }
 aside {
   margin-right: 15px;
   width:180px;
   vertical-align: top;
 }
 aside, section {
   display: inline-block
   
 }

 .ingredients-list li {
    margin: 15px 0px;
 }

 #directions + ol li {
    margin: 15px 0px;
 }

 #review-form input{
    display: block;
 }

 select {
   margin: 15px;
   width: 70px;
 }

 label, input {
   width: 100px;
 }