.main-nav {
    display: flex;
    justify-content: space-between; 
    padding: 10px;

}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: center;
}

.left-nav > ul > li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px;
    padding: 5px;
}

.right-nav > ul > li {
    margin: 5px;
}

.right-nav > ul > li:last-of-type {
    font-size: 23px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: $lightest-gray;
    cursor: crosshair;
}

.left-nav span {

}


.right-nav i {

}