<div class="masthead">
    <ul class="language-nav">
       <li>CSS</li> 
        <li>HTML</li> 
        <li>Javascript</li> 
        <li>Ruby</li> 
    </ul> 
   <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo">
    
    <ul class="masthead-links">
        <li>
            <time><%=Date.today%></time>
        </li>
        <li><a>Today’s Paper</a></li>
        <li><a>Video</a></li>
        <li><a>77°F</a></li>
        <li><a>AAO<strong> +100%</strong></a></li>
    </ul>
</div>
