/* CLOCK */
.clock{
  font-size: 28px;
  color: white;
  font-family: Orbitron;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: orange;
  background-image: url(https://hd.unsplash.com/photo-1445109673451-c511bb51bd17);
  background-size: cover;
  background-position-y: 20%;
}
/* TABS */
.table{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.tab-header{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.tab-header li {
    text-decoration: none;
    background-color: darksalmon;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: calc(100%/3);
}
.tab-content{
    padding: 5px;
    background-color: darksalmon;
    height: 20vh;
}
.active{
    border: 2px solid rgb(240, 136, 101);
    border-width: 2px 2px 0px 2px;
}