/* CLOCK */
.clock{
  font-size: 28px;
  color: white;
  font-family: Orbitron;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: orange;
  background-image: url(https://hd.unsplash.com/photo-1445109673451-c511bb51bd17);
  background-size: cover;
  background-position-y: 20%;
}
/* TABS */
.table{
    width: 20vw;
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tab{
    background-color: darksalmon;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: calc(100%/3);
}
.tab-content{
    background-color: darksalmon;
    height: 20vh;
}