.tile {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-style: outset;
    border-width: 2px;
    border-color:  lightgray;
    background-color: lightgray;
}
.clicked {
    border-style: inset;
    border-color:  lightgray;
    border-width: 2px;
    background-color: lightgray;
}

.row {
    display: flex;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: brown;
}
.game{
    display: flex;
    flex-direction: column;
}
#root {
     display: flex;
    justify-content: center;
}