.tile {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-style: outset;
    border-width: 4px;
    border-color:  lightgray;
    background-color: rgba(211, 211, 211, 0.502);
}

div.tile{
    display: block;
    font-family: 'Bangers', cursive;
    font-weight: 10;
    text-align: center;
}

.clicked {
    border-style: inset;
    border-color:  lightgray;
    border-width: 4px;
    background-color: lightgray;
}

.row {
    display: flex;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
}
.title{
    font-family: 'Bangers', cursive;
    font-size: 100px;
    font-weight: 100;
    color:white;
    background-color: transparent;
}
.message{
    font-family: 'Bangers', cursive;
    transform: translate(0px, 0px);
    font-size: 100px;
    font-weight: 100;
    color: lightskyblue;
    background-color: transparent;
    position: fixed;
}
.game{
    background-color: lightsalmon;
    width: 450px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
#root {
    display: flex;
    justify-content: center;
    
}
*{
    background-color:lightgrey;
    
}