<h1>Create a new sub!</h1>
<form action="<%=subs_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>
    Name:
    <input type="text" name="sub[title]">
    </label>
    <label>
    <br>
    Description:
    <input type="text" name="sub[description]">
    </label>
    <br>
    <button type="submit">Submit!</button>
</form>